<IfModule mod_rewrite.c>
    RewriteEngine On
    # If requests aren't already for the public folder, rewrite them
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
